In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Assignment

For this lab, we're going to use everything we've learned so far and try to predict bike demand using linear models!

The data comes from this [page](https://www.kaggle.com/datasets/lakshmi25npathi/bike-sharing-dataset).

    1. Download the dataset. 
    
In fact, by doing so you'll get two datasets. One is *daily* bike demand, and the other is *hourly* bike demand.
The daily dataset has fewer records (731) and might be a bit simpler to work with if you're just getting started.
If you want to have a bit more fun, go for the hourly dataset (17379 records).

Pick the one you want! 

    2. Read carefully through the documentation for the dataset. 

The download will also include a *readme* with good information about the dataset and descriptions for all the columns in it. The target we're going to try to model is the column *cnt*. 

You are forbidden to use the columns *casual* and *registered*. Why do you think that is?

    3. Conduct some initial EDA.

Get to know the data by e.g. doing some initial plots and some statistics in order to try to understand what you're dealing with. 

While doing this, also think carefully about what features you'd think are relevant to what we're trying to predict. 

Which feature(s) do you have reasons to believe might be the individually most reliable one(s) to predict the demand?

    4. Clean data

If warranted, start cleaning data.

    5. Model

Pick the features you think or have reasons to believe are relevant. Then, train a linear model and evaluate it. Does it perform well?

In this step, you are of course allowed to train many different models (all with different features). 

Can you find a particular combination of features that seem to work best?

In [4]:
#1
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.metrics import mean_squared_error

bike_df = pd.read_csv("../data/bike/hour.csv")

In [14]:
#3
bike_df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49